@import 'lenis/config';
@import 'section1';

body, html, canvas {
  margin: 0;
  overflow: hidden;
  color: #ffec70;
}

.container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}