@import 'lenis/config';
@import 'section1';

canvas {
  overflow: hidden;
}

body, html {
  overflow-x: hidden;
}

body, html, canvas {
  margin: 0;
  color: #ffec70;
}

.container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}